@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
  themes: light, dark;
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  /* ...rest of your variables */
}
